body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
    color: #39fddf;
}

header {
    background-color: #39fddf;
    color: #333333;
    padding: 2rem;
    text-align: center;
}

.hero-banner h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-banner p {
    font-size: 1.2rem;
}

.main {
    padding: 2rem;
}

.content-section {
    margin-bottom: 2rem;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px #333333;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

.embedded-video {
    margin-bottom: 2rem;
}

.accordion {
    margin-bottom: 2rem;
}

.accordion-btn {
    background-color: #39fddf;
    color: #333333;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-btn:hover {
    background-color: lightseagreen;
}

.accordion-content {
    padding: 1rem;
    display:none;
    
}

.active {
    display: block;
}

footer {
    background-color: #333333;
    color: #39fddf;
    text-align: center;
    padding: 1rem;
}
